<div class="main-content container">

    <div class="page-content">
        <div class="page-header position-relative">
            <h1>
                About
            </h1>
        </div>
        <!--/.page-header-->

        <div class="row-fluid">
            <div class="span12">
                <!--PAGE CONTENT BEGINS-->

                <div class="field-item even" property="content:encoded">
                    <p><span style="font-size: 1.231em; font-weight: bold; line-height: 1.538em;">SMILE Plug</span></p>
                    <p>The SMILE Plug is a low-cost hardware solution that allows instructors to create a private micro-cloud for up to 60 users. SMILE Plug creates a portable Wi-Fi access point, gateway, and content server with which users can access SMILE Global from any device. The SMILE Plug also serves static content that can be plugged in via SD card or USB. The SMILE Plug serves the Stanford Mobile Inquiry-Based Learning Environment (SMILE) software, in addition to other available open education resources. </p>
                    <p>Several Open-Source packages are sourced from the RACHEL-Pi: <a href="http://pi.worldpossible.org/">http://pi.worldpossible.org/</a>.</p>
                    <div>&nbsp;</div>
                    <p><span style="font-size: 1.231em; font-weight: bold; line-height: 1.538em;">Seeds of Empowerment</span></p>
                    <p>The Smile Plug package is configured by Seeds of Empowerment. Seeds of Empowerment is a global non-profit 501(c)(3) organization committed to bring empowerment through education. Building upon both innovative mobile technology and educational research from Stanford University, SoE emerged in 2009 as a catalytic force to reach remote populations worldwide through mobile learning.</p>
                    <p>The SoE team partners with local underserved communities around the world to improve access and quality of education, to amplify and augment learning programs where they exist, and to create new opportunities for learning where traditional education systems are lacking or non-existent.</p>
                    <div>&nbsp;</div>
                </div>
            </div>
            <!--/.page-content-->
        </div>
        <!--/.main-content-->
    </div>
    <!--/.main-container-->
</div>