<div class="main-content container">

    <div class="page-content">
        <div class="page-header position-relative">
            <h1>
                Administer
            </h1>
        </div>
        <!--/.page-header-->

        <div class="row-fluid">
            <div class="span12">
                <div class="well home-steps">
                    <div class="one"><span>1</span> <label>Connect devices to SMILE Plug</label></div>
                </div>
                <p>To connect over WiFi, <strong>join SMILE_<span id="wifi-mac">####</span></strong> and point your browser to <strong>start.here</strong> or <strong>192.168.12.1</strong></p>

                <p>To connect over Ethernet, point your browser to <strong><span id="ethernet-ip">###.###.###.###</span></strong></p>
                <!--PAGE CONTENT BEGINS-->

                <div class="well home-steps">
                    <div class="two"><span>2</span> <label>Turn off SMILE Plug</label></div>
                </div>

                <div class="span6 field-item even" property="content:encoded">
                    <h4>Finished? Power off the SMILE Plug.</h4>
                    <a class="btn btn-danger btn-large" id="plug-power-off">Power off</a>
                </div>

                <div class="span5 field-item even" property="content:encoded">
                    <h4>Technical issue? Optimize the database.</h4>
                    <a class="btn btn-warning btn-large" id="couchdb-compact">Optimize</a>
                </div>
            </div>
            <!--/.page-content-->
        </div>
        <!--/.main-content-->
    </div>
    <!--/.main-container-->
</div>