<div class="main-content container">

    <div class="page-content">
        <div class="page-header position-relative">
            <h1>
                Device Analytics
            </h1>
        </div>
        <!--/.page-header-->

        <div class="row-fluid">
            <div class="span12">
            <p class="summary lead">
                These device analytics can help you determine which students are actively interacting with their device.
            </p>

            <input type="text" placeholder="Filter results" id="user-filter" />

                <!--PAGE CONTENT BEGINS-->
                <ul id="usage-log">

                <% _.each(usageData, function(row, key) { %>

                <li class="user <%= row.doc.who_uuid %>" data-filter-name="<%= row.doc.who %>">
                    <a class="toggle-user" data-filter-uuid="<%= row.doc.who_uuid %>"><%= row.doc.who_uuid %></a>
                    <span class="who"><strong><%= row.doc.who %></strong>
                    <span class="what"><%= row.doc.what %></span>
                    <span class="message"><%= row.doc.message %></span> 
                    <span class="time"><em><% print(timeSince(row.doc.when)) %></em></span> 
                </li>
                <% }); %>

                </ul>
            </div>
            <!--/.page-content-->
        </div>
        <!--/.main-content-->
    </div>
    <!--/.main-container-->
</div>