<div class="main-content container">

    <div class="page-content">
        <div class="page-header position-relative">
            <h1>
                Applications
            </h1>
        </div>
        <!--/.page-header-->

        <div class="row-fluid">
            <div class="span12">
                <!--PAGE CONTENT BEGINS-->

                <form id="username">
                    <div class="well home-steps">
                        <div class="one"><span>1</span> <label>Enter your name</label></div>
                    </div>

                    <input type="text" id="username" class="smile-username" placeholder="<%= placeholder %>" value="<%= username %>" />
                </form>

                <div class="well home-steps">
                    <div class="two"><span>2</span>
                    <label>Choose your application</label>
                    </div>
                </div>
                <div class="row-fluid">
                    <% _.each(apps, function(app) { %>
                    <div class="span4 resource">
                        <a data-app-title="<%= app.title %>" data-app-id="<%= app.id %>" class="resource-btn" href="<% if (app.hash) { %>#<%= app.hash %><% } else { %>#<% } %>">
                            <div class="resource-img">
                            <img src="<%= app.image %>" data-app-id="<%= app.id %>" />
                        </div>
                        <div>
                            <p class="resource-description"><%= app.description %></p>
                            <span class="btn btn-danger btn-large"><%= app.launch %></span>
                        </div>
                        </a>
                    </div>
                    <% }); %>
                </div>
            </div>
            <!--/.page-content-->
        </div>
        <!--/.main-content-->
    </div>
    <!--/.main-container-->
</div>