<div class="navbar" id="navbar">
    <div class="navbar-inner">
        <div class="">
            <a href="#" class="brand">
                <span class="hidden-phone">SMILE Plug</span>
            </a><!--/.brand-->

            <ul class="nav">
                <li class="home">
                    <a href="#home">
                        <i class="icon-home"></i>
                        <span class="hidden-phone"> Applications </span>
                    </a>
                </li>
        <!-- 
                <li class="usb">
                    <a href="#usb">
                        <i class="icon-list-alt"></i>
                        <span class="hidden-phone"> USB Files </span>
                    </a>
                </li>
         -->
                <li class="about">
                    <a href="#about">
                        <i class="icon-info-sign"></i>
                        <span class="hidden-phone"> About </span>
                    </a>
                </li>
                <li class="admin">
                    <a href="#admin">
                        <i class="icon-gear"></i>
                        <span class="hidden-phone"> Administer </span>
                    </a>
                </li>
                <li class="analytics">
                    <a href="#analytics">
                        <i class="icon-table"></i>
                        <span class="hidden-phone"> Analytics </span>
                    </a>
                </li>
            </ul>
        </div>
        <!--/.container-fluid-->
    </div>
    <!--/.navbar-inner-->
</div>