<div class="main-content">

    <div class="page-content">
        <div class="page-header position-relative">
            <h1>
                USB Sharing Files
            </h1>
        </div>
        <!--/.page-header-->

        <div class="row-fluid">
            <div class="span12">
                <!--PAGE CONTENT BEGINS-->

                <button class="btn btn-app btn-warning" id="storage1-btn">
                    <div class="file-logo-white logo"></div>
                    Storage 1
                </button>
                <button class="btn btn-app btn-warning" id="storage2-btn">
                    <div class="file-logo-white logo"></div>
                    Storage 2
                </button>
               <!-- <div class="widget-box transparent" id="recent-box">
                    <div class="widget-header">
                        <h4 class="lighter smaller">
                            <i class="icon-list-alt orange"></i>
                            Select USB Drive (In Order of Insertion):
                        </h4>

                        <div class="widget-toolbar no-border">
                            <ul class="nav nav-tabs" id="recent-tab">
                                <li>
                                    <a data-toggle="tab" id="storage1-btn" class="nav-tabs-li active" href="#usb">First USB</a>
                                </li>

                                <li>
                                    <a data-toggle="tab" id="storage2-btn" class="nav-tabs-li" href="#usb">Second USB</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="widget-body">
                        <div class="widget-main padding-4">
                            <div class="tab-content padding-8 overflow-visible">
                                <div id="storage1-tab" class="tab-pane active">
                                    <iframe src="/plug/src/storage1">

                                    </iframe>
                                </div>

                                <div id="storage2-tab" class="tab-pane">
                                    <iframe src="/plug/src/storage2">

                                    </iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/widget-box-->
            </div>
            <!--/.page-content-->
        </div>
        <!--/.main-content-->
    </div>
    <!--/.main-container-->
</div>