/* modify default bootstrap navbar */
.navbar-inner {
    background-color: #820000;
    padding-bottom: 0px;
    padding-top: 0px;
    height: 100%;
    background-image: none;
    border-radius: 0;
    box-shadow: none;
    color: white;
}
.navbar-inner .container-fluid {
    height: 100%;
}
.navbar .nav > li > a,
.navbar .brand {
    text-shadow: none;
    color: white;
}
/* set hover and focus to lightblue */
.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
  background-color: #8c1515;
  color: white;
}
/* set active item to darkgreen */
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
  background-color: #8c1515;
  color: white;
}

@media only screen and (max-width: 979px) {
    .sidebar-shortcuts-large {
        display: none;
    }
}
/* Container stuff */
@media (max-width: 767px) {
    body {
        padding-left: 0;
        padding-right: 0;
    }
    .container {
        padding-right: 20px;
        padding-left: 20px;
    }
}

.smile-logo-grey {
    background: url(../img/smile-logo-grey.png);
}

.khan-logo-white {
    background: url(../img/ka-logo.png);
}

.wiki-logo {
    background: url(../img/wikipedia.png);
}

.file-logo-white {
    background: url(../img/file-logo.png);
}

.logo {
    width: 50px;
    height: 40px;
    margin: auto;
    margin-bottom: 9px;
    pointer-events:none;
}

/* Popup modal */
.modal-bg {
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.4;
}

.modal-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

/* Resource containers */
.row-fluid > .resource:nth-child(3n+1) {
    margin-left: 0;
    clear: both;
}
.resource {
    border: 1px solid #d5d0c0;
    margin-bottom: 10px;
    padding: 10px;
    cursor: pointer;
}
.resource a:hover,
.resource a:focus,
.resource a:active {
    text-decoration: none;
    background: #f2f1eb;
}
.resource:hover,
.resource:focus,
.resource:active {
    background: #f2f1eb;
}
.resource-img img {
    margin-bottom: 10px;
    max-height: 40px;
}
.resource-description {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    margin: 0 0 10px;
}


/* Enter your username */
form#username input {
    width: 100%;
    font-size: 16px;
    color: black;
    box-sizing: border-box;
    padding: 10px;
    height: 40px;
}

/* Step 1, Step 2 */
div.well.home-steps {
    border: 0;
    padding: 10px;
}
.home-steps .one span,
.home-steps .two span {
    font-size: 25px;
    width: 30px;
    background: #820000;
    color: white;
    display: inline-block;
    text-align: center;
    padding: 5px 0;
    border-radius: 500px;
    margin-right: 5px;
}
.home-steps label {
    display: inline;
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
    color: #8c1515;
}

.btn {
    display: inline-block;
}
